<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="apps.com.kgs">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--폴더 읽고 쓰기 선언 및 카메라 관련 퍼미션-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".policy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myaccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myaccount_bankaccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detailmenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detailmenu_mygrade"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myaccount_charge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myaccount_charge2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detailmenu_mygrade2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detailmenu_schedule"
            android:screenOrientation="portrait" />
        <activity
            android:name=".info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".info_agreementpic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_wedding"
            android:screenOrientation="portrait" />
        <activity
        android:name=".payment_wedding2"
        android:screenOrientation="portrait" />
        <activity
            android:name=".payment_wedding3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_wedding4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_wedding5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_wedding6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_wedding_invite2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_wedding_invite"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_wedding_flower"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_babybirth"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_babybirth2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_babybirth3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_babybirth4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_babybirth5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_babybirth_flower"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_babybirth_invite"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_babybirth_invite2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_goods"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_goods2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_goods3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_goods_flower"
            android:screenOrientation="portrait" />
        <activity
        android:name=".patment_goods_noti"
        android:screenOrientation="portrait" />
        <activity
            android:name=".payment_event"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_event2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_event3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_event4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_event_flower"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_event_invite"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_event_invite2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connection_friends"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connection_friends2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_babybirth6"
            android:screenOrientation="portrait" />
    </application>

</manifest>